*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formBox{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

form{
    padding-top:10px ;
    width: 70%;
    height: auto;
    border-radius: 12px;
    background-color: #232323;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.name {
    width: 90%;
    height: auto;
}

.name input {
    width: 49%;
    height: 50px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    padding: 20px;
    font-size: 25px;
}

.email{
    width: 90%;
    height: auto;
}

.email input{
    width: 98%;
    height: 50px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    padding: 20px;
    font-size: 25px;
}

.textarea {
    width: 90%;
    height: auto;
}
.textarea textarea{
    width: 98%;
    height: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

button{
    cursor: pointer;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: chocolate;
}


